<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="bootstrap.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <h1> Hola mi amigogos</h1>
    <p> de inte bra sånthära </p>
   

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Appliences</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
      

</body>
</html>